@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}
body{
  width: 100%;
  display: flex;
  justify-content: center;
}
#wrapper{
  height: 100%;
  width: 75vw;
  position: relative;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20.46vw;
  background: url(assets/img/motherboard.png);
  background-position:center ;
}
#content {
  position: relative;
  width: 59.375vw;
  height: 12.656vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#profile-img{
position: static;
width: 12.656vw;
height: 12.656vw;
left: 0px;
top: 0px;
margin-right: 2.4vw;

border: 0.25vw solid #E4F1F4;
box-sizing: border-box;
border-radius: 52.083333333333336vw;
}
#contacts {
  width: 44.21875vw;
  height: 11.3541vw;
  margin-right: 0;
}
h1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 700;
  color: #FFFFFF;
}
 h1 span{
  letter-spacing: 0.1em;
  font-weight: 200;
  color: #FFFFFF;
}
#profession{
  font-size: 1.125em;
  font-weight: normal;
  text-transform: capitalize;
  line-height:1.25vw;
  margin-top: 1vw;
  color: #FFFFFF;
}

#content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.0416vw;
  color: #FFFFFF;
  margin-left: -0.45vw ;
}
#content ul li {
background: rgba(27, 43, 55, 0.7);
border-radius: 15px;
padding: 0.3vw 1.7vw;
list-style-type: none;
}
#content ul li, ul li p {
  display:flex;
  flex-direction: column;

}
#content ul li img{
  padding-top:0.7vw;
  width: 0.7291vw;
  align-self: center;
}
#content ul li p{
  display: block;
  text-align: center;
  margin-top: 1vw;
  font-size: 0.8rem;
}
#content ul li p a{
  display: block;
  text-align: center;
  margin-top: 0.5vw;
  color: #FFFFFF;
  text-decoration: none;
}
#content ul li p a:hover {
  background-color: #E67E22;
  border-radius: 0.2vw;
  transition: 750ms ease-out;
}main {
    position: relative;
    display: flex;
    flex-direction: row;
    height:1900px;
    }
    nav{
      background: #E4F1F4;
      width: 21.354vw;
      flex: 0 1 auto;
      
    }
    nav ul{
      display: flex;
      flex-direction: column;
      align-content: left;
      position: relative;
      left: 10vw;
    }
    nav ul li{
      list-style-type: none;
      line-height: 19.82px;
      margin-top: 3vw;
    }
    nav ul li a{
      text-decoration: none;
      text-transform: uppercase;
      color: #03121E;
      font-size: 0.9em;
    }
    
    nav ul li a:hover {
      font-weight: 800;
      border-bottom: 2px #E67E22 solid;
      transition: 750ms ease-out;
      letter-spacing: 0.1vw;
    }
    
    #main{
      background: #F5F7F9;
      width: 53.68vw;
    }
    
    #about-me {
      width: 53.645vw;
      height: 11.718vw;
      display: flex;
      flex-direction: column;
      margin-bottom: -3vw;
    }
    section img{
      width: 1.041vw;
      height: 1.041vw;
      position: relative;
      top: 3vw;
      left: 3vw;
    }
    section h2 {
      position: relative;
      top: 1vw;
      left: 7vw;
      text-transform: uppercase;
    }
    section p {
      position: relative;
      text-align: left;
      top: 2vw;
      padding-left: 7vw;
      padding-right: 6vw;
      font-size: 1em;
      font-weight: 400;
      color: rgba(27, 43, 55, 0.7)
    }
    #gnes{
      position: relative;
      top: 3vw;
    }
    #rs {
      position: relative;
      top: 8vw;
    }
    #gnes a, #rs a{
      margin-left: 7vw;
      text-decoration: none;
      text-transform: capitalize;
      color: #2D6C99;
      font-size: 0.937vw;
      font-weight: 800;
    }
    #gnes p, #rs p {
      font-size: 0.781vw;
    }
    .uppercase {
      text-transform: uppercase;
      color: #000000;
      font-weight: 800;
    }
    #skills {
      position: relative;
      top: 12vw;
      display: inline-block;
    }
    #hard-skills .blue-p, #soft-skills .blue-p{
      position: relative;
     top: 3vw;
     left: 0.3vw;
     text-transform: uppercase;
     color: #2D6C99;
     font-size: 0.8999vw;
     font-weight: 800;
    }
    #hard-skills ul{
      margin-top: 2vw;
      margin-left: .3vw;
    }
    #hard-skills ul li img{
      position: relative;
      top: 3.7vw;
    }
    #hard-skills ul li{
      list-style: none;
    }
    #hard-skills ul li p{
      font-size: 0.70000vw;
      margin-top: 0.3vw;
      margin-left: -1vw;
    }
    
    #hard-skills progress{
      position: relative;
      top: 0.7vw;
      left: 10vw;
    } 
    #soft-skills {
      display: inline-block;
      position: relative;
      top: -18vw;
      left: 27vw;
    }
    #soft-skills ul li{
      display: flex;
      flex-direction: row;
    }
    #soft-skills ul p{
      margin-top: 2.7vw;
      margin-left: -2vw;
      font-size: 0.70000vw;
    }
    #soft-skills ul li p{
      position: relative;
      top: 2.9vw;
      left: 2vw;
      text-transform: capitalize;
    }
    #soft-skills ul li img{
      position: relative;
      top: 5.7vw;
    }
    #language .blue-p{
      color: #2D6C99;
      position: relative;
      top: 3vw;
      font-weight: 800;
    }
    #language p{
      position: relative;
      top: 3vw;
      left: 0.2vw;
    }
    #projects{
      position: relative;
      top: 7vw;
    }
    #projects p{
      position: relative;
      top: 3vw;
    }
    #projects a{
      position: relative;
      top: 3vw;
      left: 7vw;
      text-decoration: none;
      text-transform: capitalize;
      color: #2D6C99;
      font-size: 0.937vw;
      font-weight: 800;
    }
    #projects h2 {
      top: 1.3vw;
    }
    #projects pre {
      position: relative;
      top: 6vw;
      left: 7vw;
      background: darkgray;
      width: fit-content;
      text-align: center;
      color: darkred;
    } 
    #projects .blue-p{
      color: #2D6C99;
      position: relative;
      top: 3vw;
      font-weight: 800;
    }
    .blue-pp{
      color: #2D6C99;
      margin-top: 3vw;
      font-weight: 800;
    }